// .nav-menu {
//     position: relative;

// }

.nav-list {
    width: 443px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    padding: 0;
    @media (max-width:$mobile) {
        display: none;
    }
    // transition: all 1s ease;
}

.nav-list_responsive {
    @media (max-width:$mobile) {
        position: fixed;
        z-index: 15;
        top: 0px;
        //left: 100px;
        right: -100%;
        overflow-x: hidden;
        width: 320px;
        height: 100vh;
        // height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 40px;
        background-color: $color-light;
        margin: 0 0 0 0;
        //transform: translate();
        transition: 1s ease all;
        // &:first-child {
        //     margin-top: 200px;
        // }
        &_active {
            //transition: 1s ease all;
            top: 0;
            right: 0;
            overflow-x:scroll;
            overflow-y: scroll;
            padding: 248px 38px;
            z-index: 10;
        }

    }
}

.nav-item {
    line-height: 25px;
    border-bottom: 3px solid transparent;
}

.nav-item_selected {
    border-bottom: 3px solid $color-primary;
}

.nav-link {
    @include font($nav-link-size, 160%);
    color: $color-dark;
    cursor: pointer;
    text-decoration: none;
    &_active {
        @include font(32px, 160%);
    }
}

.nav-link_selected {
    color: $color-dark-3;
    border-bottom: 3px solid $color-primary;
}

.burger__container {
    width: 30px;
    height: 22px;
    display: none;
    @media (max-width:$mobile) {
        display: block;
        position: relative;
        z-index: 20;
        transition: all 1s;
    }
    &_active {
        top: 15px;
        height: 30px;
        transform: rotate(90deg);
        transition: all 1s;
    }
}

.burger__line {
    background-color: $color-dark-3;
    width: 30px;
    height: 2px;
}

.line__1 {
    position: absolute;
    top: 0px;
}

.line__2 {
    position: absolute;
    top: 10px;
}

.line__3 {
    position: absolute;
    top: 20px;
}

// .burger__container_active .line__1 {
//     top: 15px;
//     right: 10px;
//     transform: rotate(90deg);
//     transition: 1s;
// }
// .burger__container_active .line__2 {
//     top: 15px;
//     right: -0px;
//     transform: rotate(90deg);
//     transition: 1s;
// }
// .burger__container_active .line__3 {
//     top: 15px;
//     right: -10px;
//     transform: rotate(90deg);
//     transition: 1s;
// }