.button {
    width: 207px;
    height: 52px;
    background-color: $color-primary;
    border-radius: 100px;
    font-family: Georgia;
    @include font (17px, 130%);
    color: $color-dark-3;
    border: none;
    letter-spacing: 0.06em;
    cursor: pointer;
    &:hover{
        background: $color-primary-light;
    }
}

.slider__button {
    width: 52px;
    height: 52px;
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: white;
    //transform: rotate(-180deg);
    //transform: translateX(20px);
    &:hover{
        background: $color-primary-light;
        cursor: pointer;
    }
    @media (max-width:$mobile) {
        order: 1;  
    }
}
.slider__button__left {
    @media (max-width:$mobile) {
        //flex-basis: 100%;
        margin-left: 24px; 
        display: none;
    }
}
.slider__button__right {
    @media (max-width:$mobile) {
        margin-right: 24px;  
        display: none;
    }
}

.slider__button__left-arrow {
    transform: rotate(-180deg) 
               translateY(3px);
    //transform: translateY(5px);
}

.slider__button__rigth-arrow {
    transform: translateY(-3px);
}

.slider__card__button {
    width: 187px;
    height: 52px;
    background-color: $color-light;
    border: 2px solid $color-primary;
    border-radius: 100px;
    font-family: Georgia;
    @include font (17px, 130%);
    color: $color-dark-3;
    letter-spacing: 0.06em;
}

.slider__card__button_active {
    background: $color-primary-light;
    cursor: pointer;
}

.pets__button {
    width: 261px;
}